.container {
    width: 95%;
    margin: 35px auto;

}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    border: 1px solid red;
    box-sizing: border-box;

}

.col-3 {
    flex: 0 0 25%;
}

.col {
    border: 1px solid blue;
    box-sizing: border-box;

}

.col-9 {
    flex: 0 0 75%;

}

.col-5 {
    flex: 0 0 41.66666666666667%;

}

.col-7 {
    flex: 0 0 58.333333333333336%;
}

.col-12 {
    flex: 0 0 100%;
}

.col-4 {
    flex: 0 0 33.333333333333336%;
}

.col-6 {
    flex: 0 0 50%;
}

.col-2 {
    flex: 0 0 16.666666666666668%;
}

.col-10 {
    flex: 0 0 83.33333333333334%;
}

.container .row .col-3 .image {
    display: flex;
}


 .header {
    display: flex;
}